.rt-container {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 100px;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  overflow: hidden;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: rgb(136, 134, 134);
  font-weight: bold;
  cursor: pointer;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  background: white;
  transition: all 0.35s;
}

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
